
##**Basic exploratory data analysis**

## 1.   Explore the Dataset -- using Python's `Pandas`


Data exploration refers to the preliminary investigation of data in order
to better understand its specific characteristics. There are two key motivations for data exploration:
1. To help users select the appropriate preprocessing and data analysis technique used.
2. To make use of humans' abilities to recognize patterns in the data.

The data is about the "cars for sale".The data is saved in a CSV file, called **`LondonCars.csv`**.

### 1.1   Upload the CSV file to this machine.

### 1.2   Load the dataset from the CSV file:

I have used a  package in Python called [pandas]

So, let's start by reading the csv file into a `pandas' DataFrame`:

In [18]:
import pandas as pd
df = pd.read_csv('./LondonCars2014.csv')

### 1.3   Get general information about the data:

So far, I have read the csv file into a variable we called **`df`**: it is a pandas `DataFrame` object that contains the information in the csv file, along with many useful attributes and methods.

In [19]:
df.head()

,Make,Model,Year,Mileage,Price,Body Style,Ex Color,In Color,Engine,Transmission,Doors
0,Toyota,Avalon XLE,2014,4725,28995,Sedan,Gray,Black,6 Cyl,Automatic,4
1,Ford,Escape SE,2014,17201,24994,SUV,Silver,Black,4 Cyl,Automatic,4
2,Hyundai,Santa Fe Sport,2014,6279,25998,SUV,Silver,Gray,4 Cyl,Automatic,4
3,Ford,Escape SE,2014,16262,26684,SUV,Black,Black,4 Cyl,Automatic,4
4,Jeep,Grand Cherokee Limited Edition,2014,35572,33440,SUV,Black,Black,6 Cyl,Automatic,4

 The `info` method gives us a summary information:

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9080 entries, 0 to 9079
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          9080 non-null   object
 1   Model         9080 non-null   object
 2   Year          9080 non-null   int64
 3   Mileage       9080 non-null   int64
 4   Price         9080 non-null   int64
 5   Body Style    9080 non-null   object
 6   Ex Color      9080 non-null   object
 7   In Color      9080 non-null   object
 8   Engine        9080 non-null   object
 9   Transmission  9080 non-null   object
 10  Doors         9080 non-null   int64
dtypes: int64(4), object(7)
memory usage: 780.4+ KB

We should notice that the data-types are not exactly correct. For instance, the type for the `Doors` attribute (column) is inferred as numeric (64-bit integer), but this is wrong (why?). 

So let's fix them!

In [21]:
df = df.astype({'Make':'category', 'Model':'category', 'Year':'category', 
                'Mileage':'int32', 'Price':'int64', 'Body Style':'category', 
                'Ex Color':'category' , 'In Color':'category', 
                'Engine':'category', 'Transmission':'category', 'Doors':'category'})

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9080 entries, 0 to 9079
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Make          9080 non-null   category
 1   Model         9080 non-null   category
 2   Year          9080 non-null   category
 3   Mileage       9080 non-null   int32
 4   Price         9080 non-null   int64
 5   Body Style    9080 non-null   category
 6   Ex Color      9080 non-null   category
 7   In Color      9080 non-null   category
 8   Engine        9080 non-null   category
 9   Transmission  9080 non-null   category
 10  Doors         9080 non-null   category
dtypes: category(9), int32(1), int64(1)
memory usage: 239.9 KB



## 2. Basic exploratory questions using Python

Here I will compute various summary statistics, which are quantities, such as the mean and standard deviation, that capture various characteristics of a potentially large set of values with a single number or a small set of numbers.

> a. Number of instances in the dataset

In [23]:
print(df.shape)

(9080, 11)

> b. Number of attributes

In [24]:
print(df.shape)

(9080, 11)

> c. The attributes

In [25]:
print(df.columns)

Index(['Make', 'Model', 'Year', 'Mileage', 'Price', 'Body Style', 'Ex Color',
       'In Color', 'Engine', 'Transmission', 'Doors'],
      dtype='object')

> d. The possible values for **Body Style** & **External Color**

In [26]:
print('Possible body styles:')
print(df['Body Style'].unique())


print('Possible external colours:')
print(df['Ex Color'].unique())

Possible body styles:
['Sedan', 'SUV', 'Hatchback', 'Wagon', 'Coupe', 'Minivan', 'Van', 'Pickup', 'Convertible', 'Chassis']
Categories (10, object): ['Chassis', 'Convertible', 'Coupe', 'Hatchback', ..., 'SUV', 'Sedan', 'Van',
                          'Wagon']
Possible external colours:
['Gray', 'Silver', 'Black', 'White', 'Red', ..., 'Orange', 'Beige', 'Yellow', 'Bronze', 'Pink']
Length: 15
Categories (15, object): ['Beige', 'Black', 'Blue', 'Bronze', ..., 'Red', 'Silver', 'White', 'Yellow']

e. The *minimum*, *maximum*, *average*, *median* and *standard deviation* price.

In [27]:
# these are easy, to get the minimum:
print('min = {}'.format(df['Price'].min()))
print('max = {}'.format(df['Price'].max()))
print('mean = {}'.format(df['Price'].mean()))
print('median = {}'.format(df['Price'].median()))
print('Standard deviation = {}'.format(df['Price'].std()))

min = 1490
max = 499898
mean = 24410.92665198238
median = 21500.0
Standard deviation = 16300.355338946358

> f. The most common year of car

In [28]:
print(df['Year'].mode())

0    2011
Name: Year, dtype: category
Categories (24, int64): [1990, 1993, 1994, 1995, ..., 2012, 2013, 2014, 2015]

> g. The ratio of 2-door to 4-door cars?

In [29]:
print(df['Doors'].value_counts())
Converted_result=df['Doors'].value_counts().to_list()
print(Converted_result)
print('The ratio of 2-door to 4-door cars is: {}'.format(Converted_result[1]/Converted_result[0]))

4    8221
2     766
3      93
Name: Doors, dtype: int64
[8221, 766, 93]
The ratio of 2-door to 4-door cars is: 0.09317601265052913

> h. The average price of a Honda car versus a Mercedes-Benz car

In [30]:
print('Average price of a Honda car = {:.2f}'.format(df.loc[df['Make'] == 'Honda']['Price'].mean()))
print('Average price of a Mercedes-Benz car = {:.2f}'.format(df.loc[df['Make'] == 'Mercedes-Benz']['Price'].mean()))

Average price of a Honda car = 18337.49
Average price of a Mercedes-Benz car = 37620.97

> i. To display the summary for all the attributes simultaneously in a table using the describe() function.

In [31]:
df.describe(include='all')

,Make,Model,Year,Mileage,Price,Body Style,Ex Color,In Color,Engine,Transmission,Doors
count,9080,9080,9080.0,9080.000000,9080.000000,9080,9080,9080,9080,9080,9080.0
unique,49,1060,24.0,NaN,NaN,10,15,9,10,2,3.0
top,Nissan,Altima S,2011.0,NaN,NaN,Sedan,Black,Black,6 Cyl,Automatic,4.0
freq,1035,197,2641.0,NaN,NaN,3905,2404,4164,4313,8797,8221.0
mean,NaN,NaN,NaN,41875.531057,24410.926652,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,33146.564303,16300.355339,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,1.000000,1490.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,20112.250000,15987.750000,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,33532.000000,21500.000000,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,52564.500000,28998.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,279950.000000,499898.000000,NaN,NaN,NaN,NaN,NaN,NaN

> j. Can compute the covariance and correlation between pairs of attributes for multivariate statistics

In [32]:
print('Covariance:')
df.cov()

Covariance:

              Mileage         Price
Mileage  1.098695e+09 -2.188586e+08
Price   -2.188586e+08  2.657016e+08

In [33]:
print('Covariance:')
df.corr()

Covariance:

          Mileage     Price
Mileage  1.000000 -0.405068
Price   -0.405068  1.000000